@charset "utf-8";

/*--------------------Reset----------------------*/
html, body, h1, h2, h3, h4, h5, ul, ol, dl, li, dt, dd, p, header, hgroup, section, article, aside, hgroup, footer, figure, figcaption, nav {
	margin:0;
	padding:0;
	font-size: 100%;
}
body{
	background: #321e17 url(/images/bg.jpg) repeat 0 0;
	color: #FFF;
	text-shadow: -1px -1px rgba(0,0,0,1);
	line-height: 1.6em;
	-webkit-text-size-adjust: none;
  -webkit-background-size: 50px 50px;  
  -moz-background-size: 50px 50px;  
  -o-background-size: 50px 50px;
	font-family: Arial, san-serif;
	font-size: 12px;
}
article, aside, canvas, datails, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{
	display: block;
}
img{
	border:0;
	vertical-align: bottom;
}
ul, ol{
	list-style: none;
}
table{
	border-spacing: 0;
	empty-cells: show;
}

/*--------------------//Reset----------------------*/

/*--------------------Initialize----------------------*/
body{
}
a {
	color:#FFF;
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0.5);
}

/* clearfix */
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {
display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*--------------------//Initialize----------------------*/

/*--------------------common----------------------*/
.num{
	font-family: Arial, Helvetica,sans-serif;
	font-weight: bold;
	font-size: 110%;
}
/*header*/
.header{
	margin-top: 10px;
	margin-left:10px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.logo{
	float: left;
}
.header-btn a{
	display: block;
	padding: 5px;
	padding-right: 10px;
	float: right;
	background: #000;
	background:-webkit-gradient(linear, left top, left bottom, from(#222),to(#000));
  background:-moz-linear-gradient(top,#222,#000);
  -moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.1);  
  -webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #000;
	height: 22px;
	line-height: 22px;
}
.header-btn .price .num{
	font-size: 16px;
}
.form-wrapper{
	background: url(/images/form-bg-half.png) no-repeat center top;
	/*
  -webkit-background-origin: padding; 
  -moz-background-origin: padding;
  -moz-background-size: 320px 183px;    
  -o-background-size: 320px 183px;
  -webkit-background-size: 320px 183px;
  */
  width: 320px;
  height: 183px;
  margin:0 auto;
  padding-top: 15px;
}
/*form*/
.form-textarea{
	display: block;
	padding:0 5px;
	border:1px solid #CCC;
	font-size: 14px;
  background: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#fff));
  background: -moz-linear-gradient(top,#eee,#fff);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: inset 1px 1px 3px #CCC;
	-moz-box-shadow: inset 1px 1px 3px #CCC;
	margin: 10px;
}
.form-textarea:focus{
	border:1px solid #eea931;
	background-color:#f9e88f;
  background: -webkit-gradient(linear,left top,left bottom,from(#f9e88f),to(#faf2c9));
  background: -moz-linear-gradient(top,#f9e88f,#faf2c9);
  -moz-box-shadow: 0 0 5px #EE6600;
  -webkit-box-shadow: 0 0 5px #EE6600
}
.form-textbox.error{
	background-color:#f9e88f;
  background: -webkit-gradient(linear,left top,left bottom,from(#f9e88f),to(#faf2c9));
  background: -moz-linear-gradient(top,#f9e88f,#faf2c9);
	-webkit-box-shadow: inset 1px 1px 3px #d5b25f;
	-moz-box-shadow: inset 1px 1px 3px #d5b25f;
}
.form-name{
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	width: 220px;
	height: 18px;
	line-height: 18px;
	margin-left: 40px;
	margin-bottom: 15px;
}
.price-line{
	margin-left: 50px;
}
.price-line .yen{
	font-size: 24px;
	float: left;
	margin-right: 5px;
	margin-top: 12px;
	font-weight: bold;
}
.form-price{
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	padding: 5px;
	font-weight: bold;
	width:150px;
	margin-bottom: 12px;
}
input[type="button"],input[type="submit"]{
	display: block;
	text-align: center;
	font-weight: bold;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	text-shadow: -1px -1px rgba(0,0,0,0.3);
	background: #DDD;
  background: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#CCC));
  background: -moz-linear-gradient(top,#EEE,#CCC);
  color: #333;
  text-shadow: 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow:inset 1px 1px 1px rgba(255,255,255,1);
	-moz-box-shadow:  inset 1px 1px 1px rgba(255,255,255,1);
  border:1px solid #BBB;
  height: 30px;
  font-size: 16px;
}
input[type="button"],input[type="submit"]:hover{
	cursor: pointer;
}
input[type="submit"].form-submit-add{
	height: 50px;
	width:60px;
	padding: 5px;
	margin-left: 80px;
	line-height: 32px;
	background: #dc8b03;
  background: url(/images/submit-btn-half.png) no-repeat center center;
  background: url(/images/submit-btn-half.png) no-repeat center center;
  border:none;
	-webkit-box-shadow:inset 1px 1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow:  inset 1px 1px 1px rgba(255,255,255,0.3);
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3) !important;
	/*
  -moz-background-size: 60px 50px;    
  -o-background-size: 60px 50px;
  -webkit-background-size: 60px 50px; 
  -webkit-background-origin: padding; 
  -moz-background-origin: padding;
  */
}
.receipt{
	margin:0 10px;
}
.receipt:after{
	content: "";
	display: block;
	height:12px;
	background:url(/images/paper_footer_half.png) repeat-x 0 0;
	/*
  -moz-background-size: 6px 12px;    
  -o-background-size: 6px 12px;
  -webkit-background-size: 6px 12px;
  -webkit-background-origin: padding;  
  -moz-background-origin: padding;
  */
	margin-left: 7px;
	margin-right: 8px;
}
.receipt-hdr{
	background:url(/images/paper-hdr-half.png) repeat-x left top;
	/*
  -moz-background-size: 1000px 15px;    
  -o-background-size: 1000px 15px;
  -webkit-background-size: 1000px 15px;
  -webkit-background-origin: padding;  
  -moz-background-origin: padding;
  */
  text-align: right;
  height: 14px;
}
.receipt-hdr-right{
	background:url(/images/paper-hdr-right-half.png) no-repeat left top;
	/*
  -moz-background-size: 15px 15px;    
  -o-background-size: 15px 15px;
  -webkit-background-size: 15px 15px;
  -webkit-background-origin: padding;  
  -moz-background-origin: padding;
  */
	margin:0;
	height: 14px;
	width: 15px;
	float: right;
}
.receipt ul{
  color: #666;
  text-shadow: 1px 1px 0 #FFF;
	margin-left: 7px;
	margin-right: 8px;
	background: #FFF url(/images/paper.jpg) repeat 0 0;
  -moz-background-size: 48px 48px;    
  -o-background-size: 48px 48px;
  -webkit-background-size: 48px 48px;
  -webkit-background-origin: padding;　/* Safari,Google Chrome用 */  
  -moz-background-origin: padding;　/* Firefox用 */
}
.receipt ul li{
	background: url(/images/line.png) repeat-x 0 0;
  padding: 10px;
  /*
  -webkit-background-origin: padding;  
  -moz-background-origin: padding;
  */
}
.receipt ul li:after{
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.receipt ul li .name{
	float: left;
	font-weight: bold;
}
.receipt ul li .name .num{
	font-size: 18px;
}
.receipt ul li .price{
	float: right;
	font-weight: bold;
}
.receipt ul li .price .num{
	font-size: 18px;
}
.receipt ul li.total{
	background: none;
}
.receipt ul li.total .name{
	background: #aaaaaa;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
	padding: 5px;
	padding-bottom: 2px;
}
.receipt ul li.total .name .num{
	font-size: 18px;
}
.receipt ul li.total .price{
	color:#e17a00;
}
.receipt ul li.total .price .num{
	font-size: 24px;
}
.footer{
	margin:5px auto 10px;
	text-align: center;
}
.footer a{
	text-decoration: underline;
}
.receipt a{
	color: #666;
}
/*
.receipt.month li a{
	display:block;
}
.receipt.month li{
	display: inline;
	margin:0;
	padding: 0;
}
*/
.header-top{
	margin:20px auto;
	text-align: center;
}
.receipt-inner{
	background: #FFF;
	background: #FFF url(/images/paper.jpg) repeat 0 0;
  -moz-background-size: 48px 48px;    
  -o-background-size: 48px 48px;
  -webkit-background-size: 48px 48px;
  -webkit-background-origin: padding;　/* Safari,Google Chrome用 */  
  -moz-background-origin: padding;　/* Firefox用 */
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 7px;
	margin-right: 8px;
	text-align: center;
}
.twitter-btn{
	margin:0 auto;
	text-align: center;
	padding-top:10px;
}
.top-copy{
	padding-top: 10px;
	color: #666;
  text-shadow: 1px 1px 0 #FFF;
}
.top-read{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.top-orange{
	padding-top: 10px;
	color: #e17a00;
	font-weight: bold;
	font-size: 14px;
}
/*--------------------ADJUST----------------------*/
.mgnbtm10{
	margin-bottom: 10px;
}
.mgntop10{
	margin-top: 10px;
}
.mgntop20{
	margin-top: 20px;
}
.mgntop30{
	margin-top: 30px;
}
.mgntop50{
	margin-top: 50px;
}
.mgnlft10{
	margin-left:10px;
}
.mgnrgt10{
	margin-right: 10px;
}
.mgnbtm0{
	margin-bottom:0;
}
.mgnbtm30{
	margin-bottom: 30px;
}
.center{
	text-align: center;
	display: block;
}
.highlight {
	-webkit-tap-highlight-color:rgba(0,0,0,0.20);
}
.left {
	float: left;
}
.right: {
	float: right;
}
.align-center {
	text-align: center;
}
.border {
	border-bottom: 1px solid rgba(130, 130, 130, 0.296875);
}
.absolute {
	position: absolute;
}
.no-pointer li {
	cursor: default;
}
.red{
	color: #CC0000;
}
/*--------------------//ADJUST----------------------*/