<!DOCTYPE HTML>
<html lang="JP">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" >	<!-- iPhone用 -->
	<meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- Webクリップから開いた場合にブックマーク追加などのツールバーを非表示にする -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><!-- Webクリップから開いた場合にバッテリーのステータスバーを半透明にできる。black/black-translucent/default -->
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /><!-- Webクリップしたときのアイコン -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<title>Receibo</title>
</head>
<body>
	<header class="header clearfix">
		<h1 class="logo"><a href="/"><img src="/images/logo.png" alt="Receibo-レシーボ" width="140" height="35"></a></h1>
		<p class="header-btn"><a href="#"><span class="num">12</span>月<span class="price">￥&nbsp;<span class="num">86,327</span></a></p>
	</header>
	<article>
		<div class="form-wrapper">
			<form>
				<input type="text" "item[name]" id="buy" value="" placeholder="今、何買った？" class="form-textarea form-name">
				<div class="price-line clear-fix">
					<p class="yen">￥</p>
					<input type="number" name="item[price]" id="price" value="" placeholder="00,000" class="form-textarea form-price">
					<input type="submit" name="commit" value=""class="form-submit-add">
				</div>
			</form>
		</div>
		<div class="receipt">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>
			<!-- エラーメッセージ -->
			<div class="receipt-inner">
				<p class="error">
					金額が入力されていません。
					<!-- 商品名が入力されていません -->
				</p>
			</div>
			<!-- //エラーメッセージ -->
			<ul>
				<li class="total">
						<p class="name"><span class="num">12/03</span>（土）</p>
						<p class="price">￥<span class="num">12,850</span></p>
				</li>
				<li class="item">
					<a href="edit.html">
							<P class="name">電車代</P>
							<p class="price">￥<span class="num">1,250</span></p>
					</a>
				</li>
				<li class="item">
					<a href="edit.html">
						<P class="name">電車代</P>
						<p class="price">￥<span class="num">1,250</span></p>
					</a>
				</li>
				<li class="item">
					<a href="edit.html">
						<P class="name">電車代</P>
						<p class="price">￥<span class="num">1,250</span></p>
					</a>
				</li>
			</ul>
		</div>
	</article>
	<footer class="footer">
		<p class="copyright"><small>Developed by <a href="http://twitter.com/shu_0115/" target="_blank">@shu_0115</a>, Designed by <a href="http://twitter.com/ken_c_lo/" target="_blank">@ken_c_lo</a></small></p>
	</footer>
</body>
</html>