
	<header class="header-top clearfix">
		<h1 class="top"><a onClick="link('/');"><img src="/images/top.png" alt="Receibo-レシーボ" width="262" height="100"></a></h1>
	</header>

	<article>
		<div class="receipt month">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>
			<div class="receipt-inner pdgtop10">
				<p class="btn-cmn btn-tw"><a onClick="link('<%= login_path %>');">Twitterでログイン</a></p>
			</div>
			<!-- 解説部分 -->
			<ul class="explain">
				<li class="explain-head">
					<div class="explain-inner head">
						<p class="i00"><img src="/images/top_00_2x.png" alt="まるでアレ" width="65" height="71"></p>
						<p class="e00"><span class="orange">つぶやき感覚</span>でつけられる、<br />簡易家計簿、できました。</p>
					</div>
				</li>
				<li>
					<div class="explain-inner">
						<p class="i01 illust"><img src="/images/top_01_2x.png" alt="イラスト" width="120" height="71"></p>
						<p class="e01 ex">お会計を終えたら<br /><span class="orange">すぐ…</span></p>
					</div>
				</li>
				<li>
					<div class="explain-inner">
						<p class="i02 illust"><img src="/images/top_02_2x.png" alt="イラスト" width="120" height="71"></p>
						<p class="e02 ex">その場で<span class="orange">スマホ</span>を<br />さっそうと出し、</p>
					</div>
				</li>
				<li>
					<div class="explain-inner">
						<p class="i03 illust"><img src="/images/top_03_2x.png" alt="イラスト" width="120" height="71"></p>
						<p class="e03 ex">買ったものと値段を<br />入力。<span class="orange">それだけ。</span></p>
					</div>
				</li>
				<li>
					<div class="explain-inner end">
						<p class="i04 illust"><img src="/images/top_04_2x.png" alt="イラスト" width="120" height="71"></p>
						<p class="e04 ex"><span class="orange">ホーム画面に追加</span>して<br />お使いください。</p>
					</div>
				</li>
			</ul>
			<!-- //解説部分 END -->

			</div>
		</div>
	</article>
