<!DOCTYPE HTML>
<html lang="JP">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" >	<!-- iPhone用 -->
	<meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta name="apple-mobile-web-app-capable" content="no" /><!-- Webクリップから開いた場合にブックマーク追加などのツールバーを非表示にする -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><!-- Webクリップから開いた場合にバッテリーのステータスバーを半透明にできる。black/black-translucent/default -->
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /><!-- Webクリップしたときのアイコン -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>-->
	<title>Receibo</title>
</head>
<body>
	<header class="header-top clearfix">
		<h1 class="top"><a href="/"><img src="/images/top.png" alt="Receibo-レシーボ" width="262" height="100"></a></h1>
	</header>
	<article>
		<div class="receipt month">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>
			<div class="receipt-inner">
				<p class="twitter-btn"><a href="<%= login_path %>"><img src="/images/btn_twitter.png" alt="Twitterアカウントでログイン" width="230" height="70"></a></p>
			<!-- 解説部分 -->
			<ul class="explain">
				<li class="explain-head">
					<div class="explain-inner head">
						<p class="i00"><img src="/images/top_00_2x.png" alt="まるでアレ" width="65" height="71"></p>
						<p class="e00"><span class="orange">つぶやき感覚</span>でつけられる、<br />簡易家計簿、できました。</p>
					</div>
				</li>
				<li>
					<div class="explain-inner">
						<p class="i01 illust"><img src="/images/top_01_2x.png" alt="イラスト" width="120" height="71"></p>
						<p class="e01 ex">お会計を終えたら<br /><span class="orange">すぐ…</span></p>
					</div>
				</li>
				<li>
					<div class="explain-inner">
						<p class="i02 illust"><img src="/images/top_02_2x.png" alt="イラスト" width="120" height="71"></p>
						<p class="e02 ex">その場で<span class="orange">スマホ</span>を<br />さっそうと出し、</p>
					</div>
				</li>
				<li>
					<div class="explain-inner">
						<p class="i03 illust"><img src="/images/top_03_2x.png" alt="イラスト" width="120" height="71"></p>
						<p class="e03 ex">買ったものと値段を<br />入力。<span class="orange">それだけ。</span></p>
					</div>
				</li>
				<li>
					<div class="explain-inner end">
						<p class="i04 illust"><img src="/images/top_04_2x.png" alt="イラスト" width="120" height="71"></p>
						<p class="e04 ex"><span class="orange">ホーム画面に追加</span>して<br />お使いください。</p>
					</div>
				</li>
			</ul>
			<!-- //解説部分 END -->
			<!-- 公開前注意書き -->
			<div class="receipt-inner">
				<p class="caution">このサービスは正式リリース前のテスト公開です。もしお使いいただいて何かバグがあれば、<a href="http://twitter.com/shu_0115">@shu_0115</a>または<a href="http://twitter.com/ken_c_lo">@ken_c_lo</a>までお知らせ下さい。なお、正式リリース前に一度データを全てリセットしますのでご了承下さい。
				</p>
			</div>
			<!-- //公開前注意書き END -->
			</div>
		</div>
	</article>
	<footer class="footer">
		<p class="copyright"><small>Developed by <a href="http://twitter.com/shu_0115/" target="_blank">@shu_0115</a>, Designed by <a href="http://twitter.com/ken_c_lo/" target="_blank">@ken_c_lo</a></small></p>
	</footer>
</body>
</html>