
<!DOCTYPE HTML>
<html lang="JP">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" >
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="no" /><!-- Webクリップからツールバー表示 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><!-- Webクリップからステータスバーを半透明に -->
  <meta name="description" content="スマートフォンやiPhoneで簡単に、買ったその場で家計簿をつけられるサービス「Receibo（レシーボ）」" />
	<meta name="keywords" content="iPhone, スマートフォン, 家計簿, レシーボ, Receibo, ハッカソン, Ruby, Ruby on Rails" />
  <meta property="og:title" content="スマホで簡単家計簿サービス［Receibo（レシーボ）］" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:image" content="/images/splash-iphone.png" />
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="Receibo" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /><!-- Webクリップアイコン -->
	<link rel="apple-touch-startup-image" href="/images/splash-iphone.png"><!-- Splash-image -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<!--<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>-->
	<title>Receibo</title>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <%# Googleアナリティクス %>
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27637366-2']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
</head>

<body>

<%# ページ内容を読み込み %>
<%= yield %>

	<footer class="footer">
		<p class="copyright"><small>Developed by <a href="http://twitter.com/shu_0115/" target="_blank">@shu_0115</a>, Designed by <a href="http://twitter.com/ken_c_lo/" target="_blank">@ken_c_lo</a><br />in <a href="https://github.com/prog4designer/hackathon1st/wiki" target="_blank">#p4dhack</a>, <a href="http://creativecommons.org/licenses/by-sa/2.1/jp/" target="_blank">CC BY-SA 2.1</a></small>
		</p>
	</footer>

</body>

</html>
